<!--Arsenije Brajovic
CST - 350
9/27/2025
REGISTER AND LOGIN APP
-->

@{
    ViewData["Title"] = "LoginFailure";
}

<h1>LoginFailure</h1>
<h4>Your login credentials do not match. Please try again.</h4>
