<!--Arsenije Brajovic
    CST - 350
    Activty 2 part a
    9/27/2025
-->
@{
    ViewData["Title"] = "MembersOnly";
}

<h1>Welcome to Members Only Area</h1>
<h4>You have successfully logged in and can access this restricted area.</h4>

